# Lectura de ficheros easyMoney

## import Libraries

In [1]:
import numpy as np 
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
# sqlalchemy create_engine
from sqlalchemy import create_engine
# sqlalchemy
import sqlalchemy
# mysql
import mysql
# pandas
import pandas as pd
# Para poder sacar HTML por pantalla mediante display
from IPython.core.display import display, HTML

In [2]:
# instanciamos engine como resultado de create_engine
cadena_conexion='mysql+mysqlconnector://root:root@localhost'
con = create_engine(cadena_conexion).connect()

NameError: name 'create_engine' is not defined

In [ ]:
# eliminamos la base de datos que creamos en las clases anteriores para reiniciarlo todo de nuevo y asegurar que todos tenemos la misma informaci√≥n.
con.execute("DROP DATABASE IF EXISTS NUCLIO")

In [ ]:
# Creamos de nuevo la base de datos y la seleccionamos por defecto para poder trabajar
con.execute("CREATE DATABASE NUCLIO")
con.execute("USE NUCLIO")

In [ ]:
sociodemographics_df = pd.read_csv('data/sociodemographic_df.csv', skipinitialspace=True)

In [7]:
sociodemographics_df.tail()

NameError: name 'sociodemographics_df' is not defined

## import Files

In [2]:
file_dir = 'data/'

### Products

In [3]:
products_file = 'products_df.csv'
commercial_file = 'commercial_activity_df.csv'
demographic_file = 'sociodemographic_df.csv'

In [4]:
#products = pd.read_csv(file_dir + products_file)
#commercials = pd.read_csv(file_dir + commercial_file)
demographics = pd.read_csv(file_dir + demographic_file)

In [5]:
products.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
1,1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2,2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
3,3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
4,4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1

In [6]:
products['pk_partition'].value_counts()

2019-05-28    442995
2019-04-28    439627
2019-03-28    436183
2019-02-28    431727
2019-01-28    426875
2018-12-28    422481
2018-11-28    416387
2018-10-28    402300
2018-09-28    375323
2018-08-28    352922
2018-07-28    339339
2018-06-28    252104
2018-05-28    249926
2018-04-28    247463
2018-03-28    245258
2018-02-28    242521
2018-01-28    239493
Name: pk_partition, dtype: int64

In [10]:
products[products['pk_cid'] == 1375586]

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
346322,1047196,1375586,2018-02-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
592407,1681276,1375586,2018-03-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
831104,2299297,1375586,2018-04-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
1108457,2714121,1375586,2018-05-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1
1357280,3343336,1375586,2018-06-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1
1791360,4581564,1375586,2018-07-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1
1988936,5075380,1375586,2018-08-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2487565,6258167,1375586,2018-09-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2753984,6572487,1375586,2018-10-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
3156714,7786119,1375586,2018-11-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
3719100,8958911,1375586,2018-12-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
3950225,9319634,1375586,2019-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
4436665,10165891,1375586,2019-02-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
4840281,11058687,1375586,2019-03-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
5336125,12532037,1375586,2019-04-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
5569690,13226584,1375586,2019-05-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1

In [11]:
products.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [8]:
products[products['pk_partition'] == '2019-05-28'].describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,"442,995.00","13,404,774.33","145,615.00","12,715,896.00","13,287,576.50","13,398,330.00","13,536,542.50","13,647,308.00"
pk_cid,"442,995.00","1,271,884.97","177,957.39","16,063.00","1,141,604.50","1,280,164.00","1,419,055.50","1,553,689.00"
short_term_deposit,"442,995.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
loans,"442,995.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
mortgage,"442,995.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
funds,"442,995.00",0.00,0.05,0.00,0.00,0.00,0.00,1.00
securities,"442,995.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
long_term_deposit,"442,995.00",0.01,0.12,0.00,0.00,0.00,0.00,1.00
em_account_pp,"442,995.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00
credit_card,"442,995.00",0.01,0.10,0.00,0.00,0.00,0.00,1.00
payroll,"442,995.00",0.04,0.19,0.00,0.00,0.00,0.00,1.00
pension_plan,"442,995.00",0.04,0.19,0.00,0.00,0.00,0.00,1.00
payroll_account,"442,995.00",0.06,0.24,0.00,0.00,0.00,0.00,1.00
emc_account,"442,995.00",0.06,0.23,0.00,0.00,0.00,0.00,1.00
debit_card,"442,995.00",0.10,0.30,0.00,0.00,0.00,0.00,1.00
em_account_p,"442,995.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
em_acount,"442,995.00",0.67,0.47,0.00,0.00,1.00,1.00,1.00

### Generamos valores de diferencias

In [11]:
products_sorted = products.sort_values(by=['pk_cid', 'pk_partition'])

In [12]:
products_sorted.head(20)

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
1479563,4078994,15891,2018-07-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2168122,5319232,15891,2018-08-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
2962973,7451107,16063,2018-11-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
3628236,8617948,16063,2018-12-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
4028169,9401149,16063,2019-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
4480637,10426151,16063,2019-02-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
4876040,11171013,16063,2019-03-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
5134317,12220930,16063,2019-04-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
5523397,13026461,16063,2019-05-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
3628238,8618171,16203,2018-12-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
4028170,9401344,16203,2019-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
4480636,10425906,16203,2019-02-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
4876039,11170676,16203,2019-03-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
5134321,12221208,16203,2019-04-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
5523396,13026405,16203,2019-05-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2171490,5705044,16502,2018-09-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0
2943633,6909890,16502,2018-10-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
2962972,7450803,16502,2018-11-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
3628237,8618141,16502,2018-12-28,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1
4028330,9401907,16502,2019-01-28,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,1

In [18]:
products_sorted['debit_card_previous_month'] = products_sorted.groupby('pk_cid')['debit_card'].shift(1)

In [19]:
products_sorted.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,...,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,loans_previous_month,dif_loans,debit_card_previous_month
1479563,4078994,15891,2018-07-28,0,0,0,0,0,0,0,...,0.00,0.00,0,0,0,0,1,nan,nan,nan
2168122,5319232,15891,2018-08-28,0,0,0,0,0,0,0,...,0.00,0.00,0,0,0,0,0,0.00,0.00,0.00
2962973,7451107,16063,2018-11-28,0,0,0,0,0,0,0,...,0.00,0.00,0,0,0,0,0,nan,nan,nan
3628236,8617948,16063,2018-12-28,0,0,0,0,0,0,0,...,0.00,0.00,0,0,0,0,0,0.00,0.00,0.00
4028169,9401149,16063,2019-01-28,0,0,0,0,0,0,0,...,0.00,0.00,0,0,0,0,0,0.00,0.00,0.00

In [20]:
products_sorted['dif_debit_card'] = products_sorted['debit_card'] - products_sorted['debit_card_previous_month']

In [21]:
products_sorted.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,...,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,loans_previous_month,dif_loans,debit_card_previous_month,dif_debit_card
1479563,4078994,15891,2018-07-28,0,0,0,0,0,0,0,...,0.00,0,0,0,0,1,nan,nan,nan,nan
2168122,5319232,15891,2018-08-28,0,0,0,0,0,0,0,...,0.00,0,0,0,0,0,0.00,0.00,0.00,0.00
2962973,7451107,16063,2018-11-28,0,0,0,0,0,0,0,...,0.00,0,0,0,0,0,nan,nan,nan,nan
3628236,8617948,16063,2018-12-28,0,0,0,0,0,0,0,...,0.00,0,0,0,0,0,0.00,0.00,0.00,0.00
4028169,9401149,16063,2019-01-28,0,0,0,0,0,0,0,...,0.00,0,0,0,0,0,0.00,0.00,0.00,0.00

In [23]:
products_sorted['dif_debit_card'].value_counts()

0.00     5377974
1.00       73053
-1.00      55524
Name: dif_debit_card, dtype: int64

In [28]:
products_sorted[products_sorted['dif_debit_card'] == -1].pivot_table(index='pk_partition', values='dif_debit_card', aggfunc=[len])

                        len
             dif_debit_card
pk_partition
2018-02-28         2,913.00
2018-03-28         2,432.00
2018-04-28         2,742.00
2018-05-28         3,013.00
2018-06-28         2,754.00
2018-07-28         3,373.00
2018-08-28         4,010.00
2018-09-28         2,792.00
2018-10-28         3,589.00
2018-11-28         4,141.00
2018-12-28         3,168.00
2019-01-28         4,744.00
2019-02-28         4,064.00
2019-03-28         3,557.00
2019-04-28         4,229.00
2019-05-28         4,003.00

### Sociodemographic

In [12]:
sd_file = 'sociodemographic_df.csv'

In [13]:
sociodemographic = pd.read_csv(file_dir + sd_file)

In [14]:
sociodemographic.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   pk_cid        int64
 2   pk_partition  object
 3   country_id    object
 4   region_code   float64
 5   gender        object
 6   age           int64
 7   deceased      object
 8   salary        float64
dtypes: float64(2), int64(3), object(4)
memory usage: 409.4+ MB

In [15]:
sociodemographic.head()

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.00,H,35,N,"87,218.10"
1,1,1050611,2018-01-28,ES,13.00,V,23,N,"35,548.74"
2,2,1050612,2018-01-28,ES,13.00,V,23,N,"122,179.11"
3,3,1050613,2018-01-28,ES,50.00,H,22,N,"119,775.54"
4,4,1050614,2018-01-28,ES,50.00,V,23,N,nan

In [37]:
sociodemographic[sociodemographic['pk_partition'] == '2019-05-28'].describe()

         Unnamed: 0       pk_cid  region_code        age        salary
count    442,995.00   442,995.00   442,833.00 442,995.00    295,284.00
mean  13,404,774.33 1,271,884.97        25.88      30.40    116,674.77
std      145,615.00   177,957.39        13.54      12.24    206,836.38
min   12,715,896.00    16,063.00         1.00       2.00      1,202.73
25%   13,287,576.50 1,141,604.50        13.00      22.00     61,627.71
50%   13,398,330.00 1,280,164.00        28.00      25.00     88,979.34
75%   13,536,542.50 1,419,055.50        36.00      35.00    132,485.89
max   13,647,308.00 1,553,689.00        52.00     105.00 28,894,395.51

### Commercial Activity

In [16]:
ca_file = 'commercial_activity_df.csv'

In [17]:
commercial = pd.read_csv(file_dir + ca_file)

In [20]:
commercial.head()

,Unnamed: 0,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,0,1375586,2018-01-28,2018-01-12,KHL,1.00,02 - PARTICULARES
1,1,1050611,2018-01-28,2015-08-10,KHE,0.00,03 - UNIVERSITARIO
2,2,1050612,2018-01-28,2015-08-10,KHE,0.00,03 - UNIVERSITARIO
3,3,1050613,2018-01-28,2015-08-10,KHD,0.00,03 - UNIVERSITARIO
4,4,1050614,2018-01-28,2015-08-10,KHE,1.00,03 - UNIVERSITARIO

In [19]:
commercial.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [21]:
commercial['active_customer'].describe()

count   5,962,924.00
mean            0.40
std             0.49
min             0.00
25%             0.00
50%             0.00
75%             1.00
max             1.00
Name: active_customer, dtype: float64

In [22]:
commercial['segment'].value_counts()

03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: segment, dtype: int64

In [7]:
demographics

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.00,H,35,N,"87,218.10"
1,1,1050611,2018-01-28,ES,13.00,V,23,N,"35,548.74"
2,2,1050612,2018-01-28,ES,13.00,V,23,N,"122,179.11"
3,3,1050613,2018-01-28,ES,50.00,H,22,N,"119,775.54"
4,4,1050614,2018-01-28,ES,50.00,V,23,N,nan
...,...,...,...,...,...,...,...,...,...
5962919,13647304,1166765,2019-05-28,ES,50.00,V,22,N,"43,912.17"
5962920,13647305,1166764,2019-05-28,ES,26.00,V,23,N,"23,334.99"
5962921,13647306,1166763,2019-05-28,ES,50.00,H,47,N,nan
5962922,13647307,1166789,2019-05-28,ES,50.00,H,22,N,"199,592.82"
5962923,13647308,1550586,2019-05-28,ES,28.00,H,37,N,nan

In [5]:
a = demographics.groupby(by='pk_cid')

In [6]:
c=0
for i in a:
    c+=1

print('total is ' + str(c))

total is 456373

In [7]:
demographics

KeyboardInterrupt:

In [8]:
demographics[demographics['pk_cid']==1012963]

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
81224,130305,1012963,2018-01-28,ES,15.00,V,24,N,"132,481.59"
403796,1125831,1012963,2018-02-28,ES,15.00,V,24,N,"132,481.59"
640152,1749071,1012963,2018-03-28,ES,15.00,V,24,N,"132,481.59"
894546,2383019,1012963,2018-04-28,ES,15.00,V,24,N,"132,481.59"
1063018,2648752,1012963,2018-05-28,ES,15.00,V,24,N,"132,481.59"
1315419,3281751,1012963,2018-06-28,ES,15.00,V,24,N,"132,481.59"
1612841,4403028,1012963,2018-07-28,ES,15.00,V,24,N,"132,481.59"
1832939,4718347,1012963,2018-08-28,ES,15.00,V,24,N,"132,481.59"
2324883,6047665,1012963,2018-09-28,ES,15.00,V,24,N,"132,481.59"
2660594,6445105,1012963,2018-10-28,ES,15.00,H,24,N,"132,481.59"
3322462,8063072,1012963,2018-11-28,ES,15.00,H,24,N,"132,481.59"
3372588,8122866,1012963,2018-12-28,ES,15.00,H,24,N,"132,481.59"
4193730,9922939,1012963,2019-01-28,ES,15.00,H,24,N,"132,481.59"
4525918,10579589,1012963,2019-02-28,ES,15.00,H,24,N,"132,481.59"
5016917,11695369,1012963,2019-03-28,ES,15.00,H,24,N,"132,481.59"
5283655,12473579,1012963,2019-04-28,ES,15.00,H,24,N,"132,481.59"
5835464,13519831,1012963,2019-05-28,ES,15.00,H,25,N,"132,481.59"

In [29]:
sociodemographics_df.head()

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.00,H,35,N,"87,218.10"
1,1,1050611,2018-01-28,ES,13.00,V,23,N,"35,548.74"
2,2,1050612,2018-01-28,ES,13.00,V,23,N,"122,179.11"
3,3,1050613,2018-01-28,ES,50.00,H,22,N,"119,775.54"
4,4,1050614,2018-01-28,ES,50.00,V,23,N,nan

In [4]:
sociodemographics_df.tail()

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
5962919,13647304,1166765,2019-05-28,ES,50.00,V,22,N,"43,912.17"
5962920,13647305,1166764,2019-05-28,ES,26.00,V,23,N,"23,334.99"
5962921,13647306,1166763,2019-05-28,ES,50.00,H,47,N,nan
5962922,13647307,1166789,2019-05-28,ES,50.00,H,22,N,"199,592.82"
5962923,13647308,1550586,2019-05-28,ES,28.00,H,37,N,nan

In [56]:
sociodemographics_df2 = sociodemographics_df.loc[:100000,['pk_cid','gender']]

In [57]:
sociodemographics_df2.head()

    pk_cid gender
0  1375586      H
1  1050611      V
2  1050612      V
3  1050613      H
4  1050614      V

In [58]:
sociodemographics_df2.sort_values(by=['pk_cid'], inplace=True)

In [59]:

a = sociodemographics_df2.groupby(by=['pk_cid'])['gender'].agg([pd.value_counts])

In [60]:
type(a)

pandas.core.frame.DataFrame

In [61]:
a[a['value_counts']>1]

Empty DataFrame
Columns: [value_counts]
Index: []

In [46]:
sociodemographics_df2.head()

      pk_cid gender
400  1050088      H
401  1050091      H
402  1050094      V
403  1050095      H
404  1050096      V

### This is a comment to test git