### Ejercicio IMDB de géneros de películas - Raul Camaras
### Importar pandas y numpy
### cargar un dataframe con los datos de IMDB(películas)

In [61]:
import pandas as pd 
import numpy as np
#leemos el fichero IMDB
imdb=pd.read_csv("datasets/IMDB.csv", sep=";", encoding='utf-8',index_col=[0])

In [62]:
imdb

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Color,Steve McQueen,134,56667870.0,Biography|Drama|History,12 Years a Slave,2013,English,USA,20000000.0,8.1,"Quvenzhané Wallis,Scoot McNairy,Taran Killam",83000
95,Color,Richard J. Lewis,134,7501404.0,Comedy|Drama,Barney's Version,2010,English,Canada,NaN,7.3,"Mark Addy,Atom Egoyan,Paul Gross",0
96,Color,Paul Greengrass,134,107100855.0,Biography|Drama|Thriller,Captain Phillips,2013,English,USA,55000000.0,7.9,"Tom Hanks,Chris Mulkey,Michael Chernus",65000
97,Color,David Ayer,134,85707116.0,Action|Drama|War,Fury,2014,English,USA,68000000.0,7.6,"Brad Pitt,Logan Lerman,Jim Parrack",82000
98,Color,Clint Eastwood,5,47034272.0,Biography|Drama|Music|Musical,Jersey Boys,2014,English,USA,40000000.0,6.9,"Johnny Cannizzaro,Steve Schirripa,Scott Vance",16000

### Crear una lista con los campos únicos de la columna genres

In [63]:
list_genres=list(imdb['genres'].unique())

In [64]:
list_genres

['Biography|Comedy|Crime|Drama',
 'Action|Adventure|Sci-Fi',
 'Crime|Drama|Mystery|Thriller|Western',
 'Drama',
 'Adventure|Fantasy',
 'Drama|Romance',
 'Drama|Sci-Fi',
 'Crime|Drama|Mystery|Thriller',
 nan,
 'Adventure|Drama|Sci-Fi',
 'Biography|Crime|Drama|History|Music',
 'Drama|Western',
 'Action|Thriller',
 'Drama|Musical|Romance',
 'Drama|History|Thriller',
 'Action|Adventure|Drama|History',
 'Adventure|Drama|Thriller|Western',
 'Biography|Drama|History',
 'Action|Adventure|Fantasy',
 'Action|Adventure|Drama',
 'Biography|Drama|History|War',
 'Action|Adventure|Western',
 'Action|Adventure|Fantasy|Sci-Fi|Thriller',
 'Action|Animation|Crime|Sci-Fi|Thriller',
 'Action|Adventure|Sci-Fi|Thriller',
 'Comedy|Crime|Drama|Mystery|Romance',
 'Action|Adventure|Thriller',
 'Comedy|Drama|Romance',
 'Adventure|Sci-Fi|Thriller',
 'Drama|War',
 'Action|Drama|Thriller|War',
 'Crime|Drama|Thriller',
 'Comedy',
 'Action|Adventure|Fantasy|Sci-Fi',
 'Drama|Horror|Thriller',
 'Adventure|Drama|Sci-Fi|Thriller',
 'Adventure|Drama|History',
 'Crime|Drama',
 'Action|Crime|Thriller',
 'Drama|Sport',
 'Adventure|Mystery|Sci-Fi',
 'Action|Biography|Drama|History|War',
 'Biography|Drama|Music',
 'Drama|Fantasy',
 'Drama|Thriller',
 'Mystery|Thriller',
 'Biography|Crime|Drama',
 'Adventure|Drama',
 'Adventure|Sci-Fi',
 'Biography|Drama|Sport|War',
 'Comedy|Western',
 'Comedy|Drama|Musical|Romance',
 'Action|Biography|Drama|History',
 'Comedy|Drama',
 'Biography|Drama|Thriller',
 'Action|Drama|War',
 'Biography|Drama|Music|Musical']

### Separar todos los géneros individuales y convertirlos en set para eliminar duplicados

In [66]:
totallist=[]
for i in list_genres:
    if (type(i) == str):
        split_list = i.split(sep='|')
        totallist += split_list

myset=set(totallist)
mylist=list(myset)
mylist

['Action',
 'Horror',
 'War',
 'Fantasy',
 'Mystery',
 'Comedy',
 'Music',
 'Crime',
 'Drama',
 'Biography',
 'Animation',
 'History',
 'Sport',
 'Sci-Fi',
 'Thriller',
 'Western',
 'Adventure',
 'Musical',
 'Romance']

### El género musical esta repetido con dos nombres distintos así que eliminamos 'Musical' que es la cadena más larga para que 'Music' incluya ambos géneros: Music y Musical

In [54]:
mylist.remove('Musical')

In [55]:
mylist

['Action',
 'Horror',
 'War',
 'Fantasy',
 'Mystery',
 'Comedy',
 'Music',
 'Crime',
 'Drama',
 'Biography',
 'Animation',
 'History',
 'Sport',
 'Sci-Fi',
 'Thriller',
 'Western',
 'Adventure',
 'Romance']

### Crear una columna por género y ponerle True si el género aparece en el campo genres

In [56]:
for i in mylist:
    imdb[i]=(imdb['genres'].str.find(i)>=0)

### Reemplazar True por 1 y False por 0

In [57]:
imdb.replace({False:0, True:1}, inplace=True)

### Mostrar las 18 columnas de géneros creadas

In [58]:
imdb.iloc[:,-18:]

,Action,Horror,War,Fantasy,Mystery,Comedy,Music,Crime,Drama,Biography,Animation,History,Sport,Sci-Fi,Thriller,Western,Adventure,Romance
0,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1,1,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0
95,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
97,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0

### Eliminar la columa inicial de genres

In [59]:
del(imdb['genres'])